:host {
  display: inline-block;
  background-color: #008ced;
  width: 100vw;
  height: 100vh;
  position: absolute;
  right: 0px;
  bottom: 0px;
  flex-direction: column;

}

.head-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  margin-left: 100px;
  margin-right: 100px;
}